<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category Magento
 * @package  Webkul_ProductFileAttribute
 * @author   Webkul
 * @license  https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Webkul_ProductFileAttribute" setup_version="2.0.0"></module>
</config>